/* BODY */

html, body{
    margin: 0px;
    padding: 0px;
    background-color: #EAEFFA;
    height: 100%;
  }
  


/* WELCOME SECTION */
  .name{
  color: rgb(1, 22, 56);
  font-family: 'Monaco', 'Andale Mono', monospace;
  /*border: solid red 1px; */


  overflow: hidden;
  white-space: nowrap;
  width: 0;
  /*border-right: 2px solid;  - used for the cursor */
  animation: typing;
  animation-duration: 3s;
  animation-timing-function: typing 1sec steps(30, end);
  animation-fill-mode: forwards;
}

@keyframes typing {
  from { width: 0%}
  to { width: 100% }
}

.introLine{
  color: #011638;
  font-family: 'Monaco', 'Andale Mono', monospace;
  /*border: solid red 1px; */
}

.textDiv{
  width: 25%;
  display: inline-block;
  justify-content: center;
  padding-top: 10%;
}

.parentDiv{
  /*border: solid blue 2px; */
  display: inline-block;
  height: 70%;
  width: 100%;
  text-align: center; 
  /*background-image: linear-gradient(#EAEFFA, #3A4F41); */
  background-image: url("images/triangleBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
}



/* NAVBAR */
.navbar{
  background-color: #011638;
  text-align: center;
  overflow: hidden;
  border: solid #011638 2px;
  font-size: 18px;
  padding: 14px 16px;


}
.navbar a {
background-color: #011638;
text-decoration: none;
color:#EAEFFA;
font-family: 'Monaco', 'Andale Mono', monospace;

}

.navbar a:hover {
  text-decoration: none;
  color: #3A4F41;
  font-size: 20px;

  }



/* ABOUT SECTION */

.aboutDiv{
  display: inline-block;
  border: solid green 2px;
  padding: 3%;

}

.headshotPic{
  width: 40%;
  height: 40%;
  border: solid #011638 2px;
  border-radius: 50%;


}

.imageDiv{
  width: 49%;
  border: solid purple 2px;
  float: left;
  height: 100%;
  text-align: ;

}

.aboutText{
  width: 49%;
  font-family: 'Monaco', 'Andale Mono', monospace;
  color: #011638;
  border: solid red 2px;
  float: right;


}



/* CIRCLE method
.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
} */