/* Body styling */
html, body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(234, 239, 250);
    height: 100%;
  }
  


/* Text on main page */
.name{
  color: rgb(0, 0, 0);
  font-family: 'Monaco', 'Andale Mono', monospace;
  padding-left: 12%;
  padding-top: 5%;
}

.introLine{
  color: rgb(0, 0, 0);
  font-family: 'Monaco', 'Andale Mono', monospace;
  padding-left: 12%;
}



/* Navigation bar and buttons */
.navbar{
  background-color: rgb(19, 8, 80);
  padding: 14px 16px;
  text-align: center;


}

.aboutButton{
  font-family: 'Monaco', 'Andale Mono', monospace;
  background-color: rgb(19, 8, 80);
  color: white;
  border: none;

}