html,
body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(234, 239, 250);
    height: 100%;
  }
  



.name{
  color: rgb(0, 0, 0);
  font-family: 'Monaco', 'Andale Mono', monospace;
  padding-left: 12%;
  padding-top: 5%;
}

.introLine{
  color: rgb(0, 0, 0);
  font-family: 'Monaco', 'Andale Mono', monospace;
  padding-left: 12%;
}

.navbar{
  background-color: rgb(19, 8, 80);
  padding-top: 3%;
}
.aboutButton{
  
}