html,
body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(247, 246, 242);
    height: 100%;
  }
  
 

 /* .containerDiv{
    display: flex;
    height: 100%;
    background-color: green;
    width: 100%;
    
  }

  /*:root {
    --gradient: linear-gradient(
    40deg,
    #51566f,
    #2b304d,
    #3b4369,
    #9995ac,
    #a190e4,
    #696baa,
    #5b5c7d,
    #8c8da8
    );
  } */

  .rightDiv{
    height: 100%;
    width: 100%;
    background-color: #d4d3db;
   
  }

/*@keyframes bgAnimation {
  0% {background-position: left; }
  100% {background-position: right;}
} */
  


.name{
  color: rgb(0, 0, 0);
  font-family: 'Monaco', 'Andale Mono', monospace;
  padding-left: 12%;
  padding-top: 7%;
}

.introLine{
  color: rgb(0, 0, 0);
  font-family: 'Monaco', 'Andale Mono', monospace;
  padding-left: 12%;
}