/* BODY */

html, body{
    margin: 0px;
    padding: 0px;
    background-color: #EAEFFA;
    /*height: 100%; CAUSES STICKY NAV NOT TO WORK - DO NOT UNCOMMENT TILL ISSUE IS*/ 

  }

  html{
    scroll-behavior:smooth;
  }
  
  

/* WELCOME SECTION */
  .name{
  color :#0E1638;
  font-family: 'Monaco', 'Andale Mono', monospace;
  overflow: hidden; 
  font-size: 2.7vw;
  border-right: .08em solid #0E1638;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 2s steps(30, end), blink-caret .75s step-end infinite;
  animation-fill-mode: forwards;
  
}





.introLine{
  color :#0E1638;
  font-family: 'Monaco', 'Andale Mono', monospace;

}

@keyframes typing {
  from { width: 0%}
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #0E1638; }
}



.textDiv {
  width: 22%;
  display: inline-block;
  margin-top: 11%;
  padding: 5%;
  text-align: center;
  border-radius: 2%;
  /*background-color:rgba(234,239,250,0.5);  LIGHTER BACKGROUND COLOR FOR BEHIND WORDS*/

}



.introParentDiv{
  /*border: solid blue 2px; */
  display: inline-block;
  height: 622px;
  width: 100%;
  text-align: center; 
  background-image: url("images/triangleBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
}


/* NAVBAR */

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  width: auto;
  text-align: center;
  background-color: rgba(14, 22, 56, 0.9);
  backdrop-filter: blur(2px);
  font-size: 18px;
  padding: 12px 14px;
}

.navbar a {
  text-decoration: none;
  color: #EAEFFA;
  font-family: 'Monaco', 'Andale Mono', monospace;
  font-size: 18px;
  margin: 2%;

}


.navbar a:hover {
  text-decoration: none;
  text-decoration: underline;
  text-decoration-color: #EAEFFA;
  text-decoration-thickness: 3px;
  text-underline-offset: 9px;
}




/* ABOUT SECTION */

.aboutMe, .projects, .contact, .aboutTextHeader {
  font-family: 'Verdana', 'Andale Mono', monospace;
  color: #0E1638;
  text-align: center;
  padding-top: 4%;
  position: relative; /* Add position:relative to the element */

}

.aboutMe::after, .projects::after, .contact::after {
  content: ''; /* Add content to the pseudo-element */
  position: absolute;
  bottom: -10%; /* Position it at the bottom of the element */
  left: 50%; /* Position it at the middle of the element */
  transform: translateX(-50%); /* Center it horizontally */
  width: 7%; /* Adjust the width as needed (e.g., 50% for half the width) */
  border-bottom: 5px solid #3A4F41; /* Set the underline properties */
}

.aboutTextHeader::after{
  content: ''; /* Add content to the pseudo-element */
  position: absolute;
  bottom: -12%; /* Position it at the bottom of the element */
  left: 50%; /* Position it at the middle of the element */
  transform: translateX(-50%); /* Center it horizontally */
  width: 14%; /* Adjust the width as needed (e.g., 50% for half the width) */
  border-bottom: 5px solid #3A4F41; /* Set the underline properties */

}





.aboutDiv{
  display: inline-block;
  padding: 3%;


}

.aboutTextDiv
{
  float: right;
  width: 50%;
  height: 100%;


}

.aboutTextHeader{
  text-align: center;
}

.certEduDiv{
  width: 100%;
  font-family: 'Verdana', 'Andale Mono', monospace;
  color: #0E1638;
  font-size: 18px;
  display: inline-block;


}

.certDiv{
  width: 50%;
  float: right;
}

.certImages{
  text-align: center;
}

.certList{
  padding-left: 15%;
}

.certImg{
  width: 125px;
  height: 120px;
}

.eduDiv{
  width: 50%;
  float: left;
  text-align: center;
}



.imageDiv{
  width: 50%;
  float: left;
  height: 100%;
  text-align: center;


}



.headshotPic{
  width: 50%;
  height: 50%;
  border-radius: 10%; 
  box-shadow: -10px -10px 1px 10px #3A4F41;

}


.aboutText{
  font-family: 'Verdana', 'Andale Mono', monospace;
  color: #0E1638;
  font-size: 18px;

}
.aboutTextCerts{
  font-family: 'Verdana', 'Andale Mono', monospace;
  color: #0E1638;
  font-size: 16px;
}

.aboutDiv{
  margin-top: 1%;
}

.aboutMe{
  margin-top: 1%;
}


.resumeDownload, .returnHomeBttn{
  background-color: #0E1638;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  margin: auto;
  margin-top:3%;
  width: 35%;
  border-radius: 5px;
  animation: shadowPulse 3s linear infinite; /* Use the "shadowPulse" animation */
  transition: background-color 0.3s ease-out; /* Transition for the background color on hover */

}
@keyframes shadowPulse {
  0% {
    box-shadow: 0 0 0px #3A4F41; /* Start with a green box shadow */
  }
  25% {
    box-shadow: 0 0 30px #3A4F41; /* Keep the shadow green */
  }
  50% {
    box-shadow: 0 0 50px #3A4F41; /* Increase shadow size */
  }
  75% {
    box-shadow: 0 0 30px #3A4F41; /* Reduce shadow size */
  }
  100% {
    box-shadow: 0 0 0px #3A4F41; /* End with a green box shadow */
  }
}
.resumeDownload a, .returnHomeBttn a{
  text-decoration: none;
  font-family: 'Verdana', 'Andale Mono', monospace;
  font-size: 18px;
  color: #EAEFFA;
  display:inline-block;
  width:100%;
  height:100%;
  padding-top: 3%;
  padding-bottom: 3%;



}

.resumeDownload:hover, .returnHomeBttn:hover {
  background-color: #3A4F41; /* Change background color on hover */
}



/* SOCIAL ICON BAR*/
.fa_custom{
  color: #0E1638;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

.socialIconDiv{
  background-color: #0E1638;
  padding: 10px;
  text-align: center;
}

.fa_custom:hover{
  color:#3A4F41;
}



/* PROJECT SECTION */

.projectsDiv{
  display: inline-block;
  text-align: center;
  width: 100%;

} 

.placeholderImage, .ammaImage, .partProductImage, .pythonImage{
  width: 300px;
  height: 175px;
  box-shadow: 0 0 15px 4px rgba(23, 31, 25, 0.8);
  transition: transform .4s;

}

.placeholderImage:hover, .ammaImage:hover, .pythonImage:hover, .partProductImage:hover{
transform: scale(1.05);
filter: brightness(.9);

}



.ammaDiv, .numberGenDiv, .partProductDiv, .pythonProjectDiv{
  margin: 2%;
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 350px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #0E1638;
  border-radius: 2%;
  box-shadow: 0 0 20px 3px rgba(23, 31, 25, 0.8);
}

span {
  font-family: 'Verdana', 'Andale Mono', monospace;
  color: #EAEFFA;
  width: 50%;
  display: inline-block;
  width: 300px;
  padding-bottom: 10px;

}


.devicon-java-plain-wordmark, .devicon-android-plain-wordmark, .devicon-python-plain-wordmark{
  font-size: 50px;
  color: #EAEFFA;
}

.devicon-java-plain-wordmark:hover, .devicon-android-plain-wordmark:hover, .devicon-python-plain-wordmark:hover{
  color:#3A4F41;
}

/* Design for the "View Code" buttons on the project tabs. */
.button {
  font: bold 11px Verdana;
  text-decoration: none;
  background-color: #EAEFFA;
  color: #0E1638;
  padding: 4px 6px 4px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  transition: background-color 0.2s ease-out; /* Transition for the background color on hover */

}

.button:hover{
  background-color: #C9C9C9;

}




/* CONTACT */

.contactDiv{
  text-align: center;
  width: 40%;
  margin: auto;
  background-color: #EAEFFA;
  border-top: solid #0E1638 1px;
  border-bottom: solid #0E1638 1px;
  border-width: 7px;
  padding-top: 4%;
  padding-bottom: 4%;
}

.contactInput, .contactInputMessage{
  outline: none;
  border: none;
  width: 40%;
  border-bottom: #0E1638 2px solid;
  background-color: inherit;
  padding: 10px;
  margin: 10px;
  font-family: 'Verdana', 'Andale Mono', monospace;
  color: #0E1638;

}

::placeholder { 
  color: #0E1638;
}

.contactSubmitButton{
  border: none;
  background-color: #0E1638;;
  color:#EAEFFA;
  font-family: 'Verdana', 'Andale Mono', monospace;
  border-radius: 5%;
  padding: 6px 8px 6px 8px;
  border-top: 4px solid #0E1638;
  border-right: 1px solid #333333;
  border-bottom: 4px solid #0E1638;
  border-left: 1px solid #CCCCCC;
}

.contactSubmitButton:hover{
  border-bottom: 4px solid #3A4F41;
}






/* FOOTER */
footer{
  font-family: 'Verdana', 'Andale Mono', monospace;
  font-size: small;
  color:#EAEFFA;
  text-align:center;
  background-color: #0E1638;
  padding: 13px;
  margin-top: 30px;
}

.fa_custom_footer{
  color: #EAEFFA;
  text-decoration: none;
  padding-left: 10px;
  padding-bottom: 5px;
}

.fa_custom_footer:hover{
  color:#3A4F41;
}


/* Thank you page styling */
.thankYouMessage{
  font-family: 'Verdana', 'Andale Mono', monospace;
  font-size: 25px;
  color:#0E1638;
  text-align:center;
  margin-top: 12%;
}

.returnHomeBttn{
  margin-bottom: 155px;
}





/* MOBILE IMPLEMENTATION */
@media screen and (max-width: 768px) { 
  .contactDiv{
    width: 70%;
  }


.imageDiv, .aboutTextDiv{
  display: block; 
  float: none; 
  width: 100%;
}

.imageDiv{
padding-top: 2%;
}

.aboutTextDiv{
padding: 10px;
}

.aboutMe{
padding-top: 3%;
}

.certDiv, .eduDiv{
  display: block; 
  float: none; 
  width: 100%;
}

.resumeDownload, .returnHomeBttn{
  width: 50%;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.links {
  display: none;
}

.navbar{
  position: fixed;
  width: 100%;
  justify-content: center;

}

.certDiv{
  margin-bottom: 50px;
}

.resumeDownload{
  margin-bottom: 50px;
}
/* Style navigation menu links */
#links a {
  color: #EAEFFA;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.navbar a.icon {
  display: block;
  justify-content: center;
  top: 0;
}





.aboutMe::after, .projects::after, .contact::after {
content: ''; /* Add content to the pseudo-element */
position: absolute;
bottom: -10%; /* Position it at the bottom of the element */
left: 50%; /* Position it at the middle of the element */
transform: translateX(-50%); /* Center it horizontally */
width: 26%; /* Adjust the width as needed (e.g., 50% for half the width) */
border-bottom: 5px solid #3A4F41; /* Set the underline properties */
}

.name {
  font-size: 6vw; /* Adjust the font size for mobile */
  animation: none;
  width: 100%;
  border: none;
  font-size: 200%;
  margin-top: 60%;
}

.introLine {
  font-size: 150%;

}

.textDiv{
  width: auto;

}

.introParentDiv{
  background: url("images/triangleBackground.png") no-repeat center center fixed; 
    }

   
}


/* Desktop */


@media screen and (min-width: 768px) {
  a.icon {
      display: none;
  }
}
