html,
body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(247, 246, 242);
    height: 100%;
  }
  
  .leftMenuDiv {
     
    width: 20%;
    flex: 1;
    height: 100%;
    background-image: var(--gradient);
    background-size: 400%;
    animation: bgAnimation 20s infinite alternate;

    
  }

  .containerDiv{
    display: flex;
    height: 100%;
    background-color: green;
    width: 100%;
    
  }

  :root {
    --gradient: linear-gradient(
    40deg,
    #01061f,
    #050e3d,
    #1a2a7d,
    #2e1a7d,
    #12083b,
    #363880,
    #5b5c7d,
    #8c8da8
    );
  }

  .rightDiv{
    height: 100%;
    width: 80%;
    background-color: #d4d3db;
   
  }

@keyframes bgAnimation {
  0% {background-position: left; }
  100% {background-position: right;}
}
  


  .tempDiv{
    background-color: aquamarine;

  }