/* BODY */

html, body{
    margin: 0px;
    padding: 0px;
    background-color: #EAEFFA;
    height: 100%;
  }

  html{
    scroll-behavior:smooth;
  }
  


/* WELCOME SECTION */
  .name{
  color: rgb(14, 22, 56);
  font-family: 'Monaco', 'Andale Mono', monospace;

  overflow: hidden;
  border-right: .15em solid #0E1638;
  white-space: nowrap;
  margin: 0 auto;
  /*width: 0;*/
  animation: typing 2s steps(35, end), blink-caret .75s step-end infinite;
  /*animation-fill-mode: forwards; */
}

@keyframes typing {
  from { width: 0%}
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #0E1638; }
}

.introLine{
  color: #0E1638;
  font-family: 'Monaco', 'Andale Mono', monospace;
  /*border: solid red 1px; */
}

.textDiv{
  width: 25%;
  display: inline-block;
  justify-content: center;
  padding-top: 10%;
}

.parentDiv{
  /*border: solid blue 2px; */
  display: inline-block;
  height: 83%;
  width: 100%;
  text-align: center; 
  background-image: url("images/triangleBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
}



/* NAVBAR */
.navbar{
  background-color: #0E1638;
  text-align: center;
  overflow: hidden;
  font-size: 18px;
  padding: 12px 14px;
  position:fixed;
  width: 100%;


}
.navbar a {
background-color: #0E1638;
text-decoration: none;
color:#EAEFFA;
font-family: 'Monaco', 'Andale Mono', monospace;
font-size: 18px;
margin: 2%;


}


.navbar a:hover {
  text-decoration: none;
  color: #3A4F41;
  }

  



/* ABOUT SECTION */

.aboutMe, .projects, .contact{
  font-family: 'Monaco', 'Andale Mono', monospace;
  color: #0E1638;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 9px;
  text-decoration-color: #3A4F41;
  text-decoration-thickness: 5px;  
  padding-top: 2%;

}


.aboutDiv{
  display: inline-block;
  padding: 3%;

}

.headshotPic{
  width: 50%;
  height: 50%;
  border-radius: 10%; 
  box-shadow: -10px -10px 1px 10px #3A4F41;

}

.imageDiv{
  width: 49%;
  float: left;
  height: 100%;
  text-align: center;

}

.aboutText{
  width: 49%;
  font-family: 'Verdana', 'Andale Mono', monospace;
  color: #0E1638;
  float: right;
  font-size: 20px;


}



/* CIRCLE method
.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
} */

/* SOCIAL ICON BAR*/
.fa_custom{
  color: #EAEFFA;
  text-decoration: none;
  padding-left: 20px;
}

.socialIconDiv{
  background-color: #0E1638;
  padding: 10px;
  text-align: center;
}

.fa_custom:hover{
  color:#3A4F41;
}


/* PROJECT SECTION */


.projectsDiv{
  display: inline-block;
  text-align: center;
  width: 100%;

} 

.placeholderImage, .ammaImage, .partProductImage, .pythonImage{
  width: 300px;
  height: 175px;
  box-shadow: 0 0 15px 4px rgba(23, 31, 25, 0.8);
}

.ammaDiv, .numberGenDiv, .partProductDiv, .pythonProjectDiv{
  margin: 2%;
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 350px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #0E1638;
  border-radius: 5%;
  box-shadow: 0 0 15px 4px rgba(23, 31, 25, 0.8);

}

span {
  font-family: 'Verdana', 'Andale Mono', monospace;
  color: #EAEFFA;
  width: 50%;
  display: inline-block;
  width: 300px;
  padding-bottom: 10px;

}



.devicon-java-plain-wordmark, .devicon-android-plain-wordmark, .devicon-python-plain-wordmark{
  font-size: 50px;
  color: #EAEFFA;
}

